@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --color: hsla(0, 0%, 0%, 100%);
    --bgcolor: hsla(0, 0%, 0%, 80%);
    --font-weight-regular: 500;
    --font-size: 24px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size); 
}

body{
    background-color: var(--bgcolor);
}

.ToDoBoard-div-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ToDoBoard-div{
    background-color: hsl(0, 0%, 96%);
    width: 25%;
    /* height: 500px; */
    padding: 40px;
    border-radius: 20px;   
}

.ToDoBoard-div h2{
    font-size: 28px;
    padding-bottom: 30px;
    font-weight: 600;
}

.Task-div{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    position: relative;
}

.Task-div p{
    text-transform: capitalize;
    cursor: pointer;
}

.Task-div p:nth-of-type(3){
    right: 0;
    position: absolute;

}

.Task-div p:nth-of-type(1){
    font-weight: 100;
    padding-right: 4px;
    font-size: 18px;
}

.Task-div .Task-checkbox{
    border: 2px solid var(--bgcolor);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;

}

.Insert-div{
    position: relative;
    
}

.Insert-div input{
    position: relative;
    padding: 13px 0;
    width: 100%;
    border-radius: 80px;
    border: none;
    background-color: rgb(101, 95, 95);
    font-size: 15px;
    color: white;
    padding-left: 6px;
}

.Insert-div button{
    padding: 8px 15px;
    background-color: var(--bgcolor);
    color: white;
    border: none;
    border-radius: 80px;
    position: absolute;
    right: 0px;
    font-size: 20px;
}

.Insert-div button span{
    color: white;
}

.Counter-btn{
     width: 40%;
     margin-bottom: 20px;
     margin-left: 20px;
     font-size: 18px;
}