@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --color: hsla(0, 0%, 0%, 100%);
    --bgcolor: hsla(0, 0%, 0%, 80%);
    --font-weight-regular: 500;
    --font-size: 24px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size); 
}

body{
    background-color: var(--bgcolor);
}

.ToDoBoard-div-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ToDoBoard-div{
    background-color: hsl(0, 0%, 96%);
    width: 25%;
    height: 500px;
    padding: 40px;
    border-radius: 20px;   
}

.ToDoBoard-div h2{
    font-size: 28px;
    padding-bottom: 30px;
    font-weight: 600;
}

.ToDoBoard-div button{
    width: 100%;
    padding: 10px 0px;
    background-color: var(--bgcolor);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
}

.Task-div{
    display: flex;
    gap: 25px;
    align-items: center;
    padding-bottom: 20px;
}

.Task-div p{
    text-transform: capitalize;
}

.Task-div .Task-checkbox-circle{
    appearance: none; 
    border: 2px solid var(--bgcolor);
    width: 22px;
    height: 22px;
    border-radius: 50%;

}

.Task-div .Task-checkbox-circle:checked {
  background-color: var(--bgcolor);
}